<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf页面</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<body>
<div class="container">
    <h1>ThymeLeaf内置对象</h1>
    <br/>语言国家： <span th:text="${#locale.getLanguage() + '_' + #locale.getCountry()}"></span>
    <br/>param： <span th:text="${param.name1}"></span>
    <br/>request： <span th:text="${name2}"></span>
    <br/>session： <span th:text="${session.name3}"></span>
    <br/>application：<span th:text="${application.name4}"></span>
    <br/>session包含name3属性么（如不包含显示zoo）：<span th:text="${session.name3}?:('zoo')"></span>
    <br/>session包含属性数量：<span th:text="${session.size()}"></span>
    <br/>session是空的么：<span th:text="${session.isEmpty()}"></span>
</div>
</body>
</html>